h1{
  font-size: medium;
  font-weight: bold;
}
.st_label {
  color: white;
  background: black;
}
.st_max {
  font-size: 30;
  border: solid 3px black;
  border-radius: 6px;
  width: 1em;
  text-align: right;
}
.st_now {
  border-bottom: solid 1px black;
  width: 10em;
}
th.weapon_col {
  background: #c0ffff;
}
th.food_col {
  background: #ffffc0;
}
th.other_col {
  background: #c0c0c0;
}
.menu_table td {
  border-bottom: dotted 2px black;
}
#dump_text {
  width: 20em;
  height: 5em;
}